@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1.3rem;
    font-family: 'oswald', sans-serif;
    background: #febef0; /*#bfbbef,#a7d9bd, #fca364, */
}

a{
    color:#a3c5df;
    text-decoration: none;
}

.main-header{
    height: 55vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #b2aeaa;
}
h1{
    margin: 0;
    text-align: center;
    font-size: 4rem;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, cursive;
    margin-bottom: 2rem;
    line-height: 1.2rem;
     color: #fca364;
}

h2{
    margin: 1.5;
    text-align: center;
    font-size: 3rem;
    color: #fca364;
}

h3{
    margin: 1.5;
    text-align: center;
    display:flex ;
    gap: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400px;
    font-size: 1.5rem;
    color: #5d1696;
}    

p{
    font-size: 1.5rem;
}

.pro{
    font-size: 1rem;
}


.main-header h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    line-height: 1.2rem;
   
}

.main-header h1 span{
    color: #daaeaa;
}


.cabecario{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color:#cac7e7 ;
}

.menu{
    display:flex ;
    gap: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 23px;

}

.menu ul{
    list-style-type: none;
    padding: 0; 
}

.menu ul{
    background-color: #cac7e7;
}

.menu ul li{
    display: inline-block;
    position: relative;

}

.menu ul li .cor{
   text-decoration: 0;
   display: inline-block;
   padding: 20px;
   transition: background .5s;
}

.menu ul li .cor:hover{
    background-color: #febef0;
    width: 170px;
    
}

.menu ul ul{
display: none;
position: absolute;
left: 0;
}

.menu ul li:hover ul{
    display: block;
}

.menu ul ul{
    width: 170px;
}
    
.menu ul ul li .cor{
display: block;
}

#amigu-amigurumi{
    width: 200px;
    height: 100px;
}

.container{
    max-width: 1200px;
    margin: auto;
    overflow: cover;
    padding: 0 2rem; 
}

img{
    width: 100%;

}

.cor{
    color: #5d1696;
}

.card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    background: #db7ca8;
}

/*.card img{
    height: 400px;
}*/

.card >div{
    padding: 2rem; 
}

.card >img{
    padding: 1rem;
}

.card:nth-child(even) img {
    order: 2;
}

.btn{
    background-color: #febef0;
    width: calc(26% - 13px);
    height: 61px;
    border: none;
    margin: 11px 6px;
    box-shadow: 5px 6px 6px #a7d9bd ;
    border-radius: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500px;
    font-size: 18px;
    margin-left: 20%;
}

.btn:active{
    transform: scale(0.9);
    box-shadow: 1px 1px 1px;
}



.galeria{
    display: flex;
    height: 20rem;
    gap: 1rem;
}

.galeria > div{
    flex: 1;
   border-radius: 1rem;
   background-position: center;
   background-repeat: no-repeat;
   background-position: 100%;
   background-size: 540px;
   transition: all .9s cubic-bezier(1, 1, 1, 1.4);
}

.galeria > div:hover{
    flex: 2;
}

.container2{
    background-color: #cac7e7;
}

footer{
    background-color: #cac7e7;
    padding: 5px;
    color: #db7ca8;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    bottom: 0;
    font-size: 25px;
}

.face{  
    height: 60px;
    width: 30px; 
}

.insta{
    height: 60px;
    width: 60px;  
}

.youtube{
    height: 60px;
    width: 60px;
}

.nevegation ul{
    position: relative;
    display: flex;
}

.nevegation li{
    list-style: none;

}

.nevegation li a{
    display: inline-block;
    color: #db7ca8;
    font-weight: 600;
    text-decoration: none;
    font-size: 16px;
    margin-left: 125px;
    font-size: 2rem;
    margin-bottom: 2rem;

}

.nevegation{
    background-color: #daaeaa;
    padding: 2px; 

}